.gallery2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 6%;
    margin-bottom: 3%;
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
  .xtrash {
      width: 50px!important;
      height: 44px!important;
      margin-top: 6px;
      margin-left: 10px;
  }

.gallery-item2 {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    width: 500px;
    /* Adjust the width as needed */

    /* Responsive Styles */
    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 480px) {
        width: 66%;
    
}
}

.gallery-item2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
    /* Add transition effect */

    /* Responsive Styles */
    @media (max-width: 768px) {
        border-radius: 10%;
    }

    @media (max-width: 480px) {
        border-radius: 10%;
    }
}

.gallery-item2 img:hover {
    transform: scale(1.05);
    border-radius: 5%;
    /* Apply scale animation on hover */

    /* Responsive Styles */
    @media (max-width: 768px) {
        transform: none;
        border-radius: 10%;
    }

    @media (max-width: 480px) {
        border-radius: 0;
    }
}

