.not {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 300px 4fr 1fr;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    align-items: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
li {
    list-style-type: none;
}

.sticky-header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 300px 4fr 1fr;
    background-color: white;
    transition: all 0.2s ease;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
width: 12rem;
    cursor: pointer;
    height: 65px;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo span {
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    margin: 0 auto;
}

.nav-links li a,
.nav-links li p {
    font-size: 1.5rem!important;
    font-weight: 600;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
}

.nav-links li a:is(:hover, :focus, :focus-visible, :active) {
    color: #8be2ff;
    outline: none;
}

.active {
    transition: all 0.3s ease;

}

.nav-links li a.active {
    color: #19c5ff;
  }

.maintain a:is(:hover, :focus, :focus-visible ) {
    /* color: white !important; */
    outline: none;
}

.maintain a:active {
    color: #8be2ff !important;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons p {
    margin-inline: 25px 10px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    color: black;
}

.header-icons p:is(:hover, :focus, :focus-visible, :active) {
    color: #8be2ff;
    outline: none;
}

.head-icons {
    display: flex;
    align-items: center;
}

.head-icons p {
    margin-inline: 25px 10px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.head-icons p:is(:hover, :focus, :focus-visible :active) {
    color:#8be2ff;
    outline: none;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user i {
    padding-right: 5px;
}

#menu-icon {
    display: none;
}

.willhide {
    display: none;
}

@media all and (max-width: 1230px) {
    .sticky-header {
        grid-template-columns: 250px 4fr 1fr;
    }

    .not {
        grid-template-columns: 250px 4fr 1fr;
    }

    .logo span {
        font-size: 1.2rem;
        font-weight: bold;
    }


    .nav-links li p {
        font-size: 0.8rem;
        padding: 5px 0;
        margin: 0px 20px;
        color: black;
    }

    .nav-links li a {
        font-size: 0.8rem;
        padding: 5px 0;
        margin: 0px 20px;
        color: black;
    }

    .header-icons p {
        margin-inline: 5px 10px;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .head-icons p {
        margin-inline: 5px 10px;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

.willhide,
.willhidden {
    display: none;
}

@media all and (max-width: 840px) {
    .sticky-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart-logo-wrpr i {
        display: none;
    }

    .not {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu-icon {
        display: block;
        font-size: 55px;
        cursor: pointer;
        margin-right: 15px;
        transition: 0.3s all ease;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 29vh;
        background-color: #8be2ff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0px 0px 10px 10px;
        transition: 0.3s all ease;
    }

    .nav-links a {
        display: block;
        margin: 12px 0px;
        padding: 0px 25px;
        transition: 0.3s ease;
    }

    .user {
        display: none;
    }

    .nav-links.open {
        right: 0%;
    }

    .willhide,
    .willhidden {
        display: block;
    }

    /* .maintain a.active,
    .maintain p.active {
        color: rgb(180, 28, 28) !important;
    } */
}