.c-button{
        
        height: 48px;
        margin-top: 17px;
        border-radius: 50%!important;
        
           
}
.titlee2{
      margin-top: 17px;
        font-size: xx-large;
}
.b-all{
    font-size: 20px;
    background-color: #8be2ff;
    padding: 15px;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid #8be2ff;
    box-shadow: 3px 3px grey;
}
.firstt-formm {
   
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    align-items: center;
    display: flex;
    flex-direction: column;
    position:absolute;
    width: 30%;
    z-index: 10;
    transform: translate(550px,-285%);


}

  .alignForm {
      align-self: self-start;
      margin-left: 50px;
      color: rgba(255, 255, 255, 0.962) !important;
  }
  .background-overlay {
      display: block;
  }
  .basketImage{
    padding-left: 12px;
    cursor: pointer;
  }
  .trash{
  width: 29px;
  height: 49px;
  margin-left: 250px;
  margin-right: -107px;
  }
  .flexCategory{
        display: flex;
          flex-direction: row-reverse;
          align-items: baseline;
          justify-content: flex-end;
          /* margin-left: 768px; */
  }
  .pencil{
    height:51px;
  }
  .flexTrash{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  .pluss{
    width:15px
  }

  /*Form*/
    .res-popup {
      position: fixed;
      top: 83px;
      left: 0;
      width: 100%;
      height: calc(100% - 90px);
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      z-index: 9999;
    }
  
  
    /* .res-popup-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 645px;
      border: 3px solid black;
      width: 80%;
      margin: auto;
      margin-top: 233px;
    }
   */
   .textAdd{
    padding-top: 6px;
    padding-bottom: 6px;
   }

     .res-popup-content2 {
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            max-width: 645px;
            border: 3px solid #2DCAFF;
            width: 35%;
            margin: auto;
            margin-top: 233px;
            display: flex;
            flex-direction: column;
     }
  
     .res-popup2 {
      position: fixed;
      top: 83px;
      left: 0;
      width: 100%;
      height: calc(100% - 90px);
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      z-index: 9999;
    }
  
   .res-popup-content2 {
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            max-width: 645px;
            border: 3px solid #2DCAFF;
            width: 35%;
            margin: auto;
            margin-top: 233px;
            display: flex;
            flex-direction: column;
     }
  
    .res-close-btn {
      background-color: black;
      color: white;
      border: none;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .res-close-btn:hover {
      background-color: grey;
      color: black;
    }
  
    .addb {
      
      border: none;
      width: 139px;
      height: 43px;
      margin-left: 32%;
      cursor: pointer;
      
    }
    .buttonwithProduct{
          display: flex;
          flex-direction: column;
    }
    .addProd{
      display: flex;
        align-content: stretch;
        justify-content: flex-end;
      
    }
    .productAdd{
      margin-right:3%
    }




        /*Cards*/
    
        .category-container {
          display: flex;
          flex-direction: column;
          width: 90%;
          height: 100%;
          margin-top: 100px;
          margin-left: 50px;
          transform-style: preserve-3d;
          min-height: 100vh;
        }
    
        .category-button {
          height: 40px;
          width: 161px;
          text-align: center;
          background-color: white;
          border: none;
          border-radius: 5px;
        }
    
        .category-button.selected {
          border-bottom: 3px solid #8be2ff;
        }
    
        .category-button.active {
          background-color: #333333;
          color: #ffffff;
        }
    
        .category-buttons {
          border-bottom: 2px solid lightgray;
        }
    
        /* Cards Design */
        .card2 {
          width: 355px;
          height: 413px;
          border-radius: 20px;
          
          position: relative;
          padding: 1.8rem;
          border: 2px solid #c3c6ce;
          transition: 0.5s ease-out;
          overflow: visible;
          
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
    
        .card-details2 {
          color: black;
          width: 205px;
          height: 220px;
              
        }
    
        .card-button2 {
          transform: translate(-50%, 125%);
          width: 60%;
          border-radius: 1rem;
          border: none;
          background-color: #8be2ff;
          color: #fff;
          font-size: 1rem;
          padding: .5rem 1rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          opacity: 0;
          transition: 0.3s ease-out;
        }
    
        .text-body2 {
          color: rgb(134, 134, 134);
        }
    
        /*Text*/
        .text-title2 {
          font-size: 1.5em;
          font-weight: bold;
        }
    
        /*Hover*/
        .card2:hover {
          border-color: #8be2ff;
          box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        }
    
        .card2:hover .card-button {
          transform: translate(-50%, 50%);
          opacity: 1;
        }
    
        .allProductsBalloons2 {
            display: grid;
              grid-template-columns: repeat(auto-fit, minmax(33.3%, 3fr));
              justify-content: center;
              /* align-items: baseline; */
              justify-items: center;
              margin-bottom: 50px;
            
        }
    
        /*Price*/
        .price2 {
          display: flex;
          align-items: center;
        }
    
        .price2 h3 {
          color: black;
          font-size: 25px;
          padding-right: 20px;
          font-weight: 400;
        }
    
        .price2 h4 {
          color: #999;
          font-size: 25px;
          text-decoration: line-through;
        }
    
        .priceandTitle2 {
          /* Add your custom styles for the title here */
          margin-left: -128px;
        }
    
    
        @media (max-width: 680px) {
          .allProductsBalloons2 {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            margin-bottom: 30px;
            justify-items: baseline;
    
          }
    
          .card2 {
            width: 63%;
            height: 320px;
          }
    
          .priceandTitle2 {
            margin-left: 0px;
          }
        }
    
        @media screen and (min-width: 681px) and(max-width: 768px) {
          .allProductsBalloons2 {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-bottom: 30px;
          }
    
          .card2 {
            width: 60%;
            height: 320px;
          }
        }
    
        @media screen and (min-width:768px) and (max-width: 1550px) {
          .allProductsBalloons2 {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-bottom: 30px;
          }
                    .flexTrash {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      gap: 262px;
                    }
          .card2 {
            width: 62%;
              height: 428px;
          }
    
          .priceandTitle2 {
            margin-left: 0px;
          }
        }
    
        @media screen and (min-width:1551px) and (max-width: 1160px) {
          .allProductsBalloons2 {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-bottom: 30px;
          }
    
          .card2 {
            width: 60%;
            height: 320px;
          }
        }